<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AnimAuth {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    {% block morestylesheets %}{% endblock %}
</head>
<body>


<div id="header" style="text-align: center">
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('gallery') }}">Gallery</a>
        <a href="{{ url_for('upload') }}">Upload Image</a>
        <a href="{{ url_for('register') }}">Register</a>
        {% if session["user_id"] %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </nav>
</div>

<div id="alerts">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div id="content">{% block content %}{% endblock %}</div>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</body>
</html>
